mixin hitlistTable(imageName, data)
  .hitlistTable
    .image
      svg
        use(xlink:href=imageName)
    table
      thead
        tr
          th Name
          th Group
          th Date
      tbody
        each student in data
          tr(data-year=student.year data-course=student.course)
            td #{student.name.toLowerCase()}
            td #{student.group}
            td #{student.date}